h1 {
  font-weight: bold;
  color: red !important;
  background-color: lightblue;
  text-align: center;
}
.row {
  padding: 20px;
  width: 100%;
}
footer {
  bottom: 12px;
  position: absolute;
  left: 45%;
}
